= render "registration_header"
%main
  .container
    %h2 会員情報入力
    = form_for(@user, url: user_registration_path) do |f|
      = render "devise/shared/error_messages", resource: resource

      .content
        .field
          = f.label :ニックネーム
          %span.require 必須
          %br
          = f.text_field :nickname, autofocus: true, autocomplete: "name", placeholder:"例）メルカリ太郎"

        .field
          = f.label :メールアドレス
          %span.require 必須
          %br
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"PC・携帯どちらでも可"

        .field
          = f.label :パスワード
          %span.require 必須
          %br
          = f.password_field :password, autocomplete: "new-password", placeholder:"6文字以上の半角英数字"
          %br
          %p.info ※英字と数字の両方を含めて設定してください
          %br
          = f.label :パスワード（確認）
          %span.require 必須
          %br
          = f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"6文字以上の半角英数字"

        .field
          = f.label :お名前
          %span.require 必須
          %br
          = f.text_field :family_name, autofocus: true, autocomplete: "family-name", placeholder:"例）山田"
          = f.text_field :first_name, autofocus: true, autocomplete: "given-name", placeholder:"例）太郎"

        .field
          = f.label :お名前カナ
          %span.require 必須
          %br
          = f.text_field :family_name_kana, autofocus: true, placeholder:"例）ヤマダ"
          = f.text_field :first_name_kana, autofocus: true, placeholder:"例）タロウ"

        .field
          = f.label :携帯電話の番号
          %span.require 必須
          %br
          = f.telephone_field :phone_num, autofocus: true,  placeholder:"携帯電話の番号を入力"

        .field
          = f.date_select(:birthday, use_month_numbers: true, start_year:1930,end_year:(Time.now.year), default:Date.new(1989, 1, 1))

        .field
          = flash[:recaptcha_error]
          = recaptcha_tags

        .sub-text
          「次へ進む」のボタンを押すことにより、
          = link_to '利用規約', href:"#", target:"blank"
          に同意したものとみなします

        .actions
          = f.submit "次へ進む", class:'btn-red'
= render "layouts/sub_footer"