= render "layouts/header"
%main
  .logout
    = render "layouts/sideber"
    .logout__box
      .logout__box__submit
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout2"
    

= render 'layouts/exhibition'
= render "layouts/footer"