= render "layouts/header"
%main
  .content
    = render "layouts/sideber"
    .user
      %section.user__icon
        = link_to (), class:"user__about" do
          = image_tag "//static.mercdn.net/images/member_photo_noimage_thumb.png", size: "60x60", alt: "顔写真", class: "user__image"
          %h5.user__name
            = @user.nickname
      %section.user__tab
        %ul.tab
          %li.notice
            %h3 お知らせ
          %li.to_do
            %h3 やることリスト
      %section.user__contents
        = image_tag "//static.mercdn.net/images/member_photo_noimage_thumb.png", size: "60x60", alt: "顔写真", class: "app__image"
        .app__text
      %section.user__index 
        .index__text
          %link_to.text{:href => "#"} 一覧を見る
      -# JSでactive切り替えｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ
      %section.mypage-tab-container
        %h2.mypage-tab-head 購入した商品
        %ul.mypage-tabs
          %li.active
            %h3
              = link_to '取引中', {}, data_toggle:"tab"
          %li
            %h3
              = link_to '過去の取引', {}, data_toggle:"tab"
        .tab-content
          %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
            %li.mypage-item-not-found.bold
              取引中の商品がありません
          %ul#mypage-tab-transaction-old.mypage-item-list.tab-pane
            %li.mypage-item-not-found.bold
              過去に取引した商品がありません
= render "layouts/footer"
= render "layouts/exhibition"