= render "layouts/sub_header"
%main
  .buy
    .item-box
      .buy-head
        購入が完了しました
      .buy-content.box
        .item-info
          .item-info-img
            = image_tag @item_img.img.url, alt: '商品写真'
          .item-info-detail
            .item-info-name
              = @item.name
            .item-info-price
              %span ¥
              = @item.price.to_s(:delimited, delimiter: ',')
              = @item.charge
= render "layouts/sub_footer"
