= render "layouts/sub_header"
%main
  .buy
    .item-box
      .buy-head
        購入内容の確認
      .buy-content.box
        .item-info
          .item-info-img
            = image_tag 'IMG_34498.jpg', alt: '商品写真'
          .item-info-detail
            .item-info-name
              = @item.name
            .item-info-price
              %span ¥
              = @item.price.to_s(:delimited, delimiter: ',')
              = @item.charge
      .buy-content.box
        .buy-content-inner
          .form
            .buy-price-box.box
              .buy-price-box-label 支払い金額
              .buy-price
                = @item.price.to_s(:delimited, delimiter: ',')
            .buy-payment.box
              %span 支払い方法
              -# 支払い方法の有無で条件分岐
              - if @default_card_information.blank?
                %br /
              - else
                -#以下カード情報を表示
                = "**** **** **** " + @default_card_information.last4
                - exp_month = @default_card_information.exp_month.to_s
                - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                = exp_month + " / " + exp_year
              %br/
              = link_to({}, class:"buy-payment-link") do
                %i.fas.fa-plus-circle
                %span 登録してください
                -# = form_tag(action: :pay, method: :post) do
                -#   %script.payjp-button{:src => "https://checkout.pay.jp", :type => "text/javascript" ,"data-text" => "カードで支払う" ,"data-key" => "pk_test_fdecd306854b31c885512ef5"}  
            .user-info.box
              .user-info-label
                %span 配送先
                = link_to('変更する', {}, class:"user-info-link")
              .user-info-address
                = @address.post_code
                %br/
                = @address.prefecture
                = @address.city
                = @address.address
                = @address.building
                %br/
                = current_user.family_name
                = current_user.first_name
            .buy-content
            = form_tag(action: :pay, method: :post) do
              = submit_tag "購入する"
              -# %button 購入する  
            -# = form_for(@user, url: pay_item_purchase_index_path(:item_id), method: :post) do |f|
            -#   f.submit 購入する
= render "layouts/sub_footer"
