%ul#menu
  %li.top-item
    = link_to "#", class:"lists" do
      = link_to categories_path, class:"lists" do
        %i.fas.fa-list-ul
        %span カテゴリーから探す
    %ul
      - @categories1.each do |category|
        %li.cate
          = link_to category.name, category_path(category)
          %ul
            - category.children.each do |subcategory|
              %li.sub
                = link_to subcategory.name, category_path(subcategory)
                %ul
                  - subcategory.children.each do |subsubcategory|
                    %li.subsub
                      = link_to subsubcategory.name, category_path(subsubcategory)