- if Category.find(item[0][:category_id]).parent.parent == nil
  .category_title{id: "#{Category.find(item[0][:category_id]).parent.name}"}
  = Category.find(item[0][:category_id]).parent.name
- else
  .category_title{id: "#{Category.find(item[0][:category_id]).parent.parent.name}"}
  = Category.find(item[0][:category_id]).parent.parent.name
.top__category-item__category-list--more
  = link_to "もっとみる >", "#" , class:"more"
.top__category-item__category-list__category-box
  - item.first(10).each do |i|
    .product
      .product__wrap
        = link_to item_path(i) do
          - item_img = ItemImg.where(item_id: i[:id])
          - if item_img[0] == nil 
            = image_tag "no_image.jpg", class:"img"
          - else
            = image_tag "/uploads/item_img/img/#{item_img[0][:img]}", class:"img"
          .product__img__price
            %p.price 
              ¥
              = i[:price].to_s(:delimited, delimiter: ',')
          .product__name
            %p.name
              = i[:name]