- @popular_categories.each do |item|
  %h3
    - if Category.find(item[0][:category_id]).parent.parent == nil
      = Category.find(item[0][:category_id]).parent.name
    - else
      = Category.find(item[0][:category_id]).parent.parent.name
  .top__category-item__category-list--more
    = link_to "もっとみる >", "#" , class:"more"
  .top__category-item__category-list__category-box
    - item.first(10).each do |i|
      .product
        .product__wrap
          = link_to item_path(i) do
            = image_tag "IMG_34498.jpg", class:"img"
            .product__img__price
              %p.price 
                ¥
                = i[:price].to_s(:delimited, delimiter: ',')
            .product__name
              %p.name
                = i[:name]
