.brand_title{id: "brand#{brand_counter}"}
= brand[0].brand_id
.top__category-item__category-list--more
  = link_to "もっとみる >", "#" , class:"more"
.top__category-item__category-list__category-box
  - brand.each do |item|
    .product
      .product__wrap
        = link_to item_path(item) do
          - item_img = ItemImg.where(item_id: item[:id])
          - if  item_img[0] == nil 
            = image_tag "no_image.jpg", class:"img"
          - else
            = image_tag "/uploads/item_img/img/#{item_img[0][:img]}", class:"img"
          .product__img__price
            %p.price 
              ¥
              = item[:price].to_s(:delimited, delimiter: ',')
          .product__name
            %p.name
              = item[:name]