-g = 'https://wired.jp/wp-content/uploads/2018/01/GettyImages-522585140.jpg'


.top__category-item__category-list--imgs
  .product
    .product__img
      = link_to image_tag(-g, class:"img"), "#"
      .product__img__price
        = link_to "¥ 5,000","#", class:"price"
    .product__name
      = link_to "学名:ゴリラゴリラゴリラ", "#",class:"name"
  .product
    .product__img
      = link_to image_tag(-g, class:"img"), "#"
      .product__img__price
        = link_to "¥ 5,000","#", class:"price"
    .product__name
      = link_to "ゴリラ2", "#",class:"name"
  .product
    .product__img
      = link_to image_tag(-g, class:"img"), "#"
      .product__img__price
        = link_to "¥ 5,000","#", class:"price"
    .product__name
      = link_to "ゴリラ3", "#",class:"name"
  .product
    .product__img
      = link_to image_tag(-g, class:"img"), "#"
      .product__img__price
        = link_to "¥ 5,000","#", class:"price"
    .product__name
      = link_to "ゴリラ4", "#",class:"name"
  .product
    .product__img
      = link_to image_tag(-g, class:"img"), "#"
      .product__img__price
        = link_to "¥ 5,000","#", class:"price"
    .product__name
      = link_to "ゴリラ5", "#",class:"name"


-#人気カテゴリー名1　二行目-------------------
.top__category-item__category-list--imgs
  .product
    .product__img
      = link_to image_tag(-g, class:"img"), "#"
      .product__img__price
        = link_to "¥ 5,000","#", class:"price"
    .product__name
      = link_to "学名:ゴリラゴリラゴリラ", "#",class:"name"
  .product
    .product__img
      = link_to image_tag(-g, class:"img"), "#"
      .product__img__price
        = link_to "¥ 5,000","#", class:"price"
    .product__name
      = link_to "ゴリラ7", "#",class:"name"
  .product
    .product__img
      = link_to image_tag(-g, class:"img"), "#"
      .product__img__price
        = link_to "¥ 5,000","#", class:"price"
    .product__name
      = link_to "ゴリラ8", "#",class:"name"
  .product
    .product__img
      = link_to image_tag(-g, class:"img"), "#"
      .product__img__price
        = link_to "¥ 5,000","#", class:"price"
    .product__name
      = link_to "ゴリラ9", "#",class:"name"
  .product
    .product__img
      = link_to image_tag(-g, class:"img"), "#"
      .product__img__price
        = link_to "¥ 5,000","#", class:"price"
    .product__name
      = link_to "ゴリラ10", "#",class:"name"