= render 'layouts/header'
.top

  -# 広告------------------------------
  .top__advertising
    .advertisement-box
      .advertisement-fonts
        %h2 スマホでかんたん
        %h2 フリマアプリ
        .advertisement-fonts2
          %h2 Fマーケはスマホからすぐに出品できる
          %h2 購入時も安心な独自システムのアプリです
        .advertisement-img
          = link_to "https://apps.apple.com/jp/app/id667861049?l=ja", class: "apple" do
            = image_tag "apple.png", class: "apple"
          = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", class: "apple" do
            = image_tag "google.png", class: "google"
      .advertisement-hand
        = image_tag "top-banner.png", class: "advertisement"

  -# 自分がいいねした商品
  .top__like

  -# カテゴリー表示----------------------
  .top__category
    .top__category__font
      %h2 人気のカテゴリー
      .top__category__font--list
        .select-list レディース
        .select-list メンズ
        .select-list 家電・スマホ・カメラ
        .select-list おもちゃ・ホビー・グッズ

  -# 人気カテゴリー-------------------
  .top__category-item
    .top__category-item__category-list
      = render "top-category"

  -#  以下ブランド ----------------------------------

  .top__category
    .top__category__font
      %h2 人気のブランド
      .top__category__font--list
        .select-list 
          = @brands1_items[0][:brand_id]
        .select-list 
          = @brands2_items[0][:brand_id]
        .select-list
          = @brands3_items[0][:brand_id]
        .select-list
          = @brands4_items[0][:brand_id]
        
  -# 人気のブランド--------------------------------------
  .top__category-item
    .top__category-item__category-list
      .top__category-item__category-list__top
      = render "top-brand"

= render 'layouts/footer'
= render 'layouts/exhibition'