=render "layouts/header"
%main
  %content
    .item-box
      .item-name
        = @item.name
      .item-content
        .item-images
          - @show_img.each_with_index do |img, index|
            - if index == 0
              .item-image
                = image_tag "/uploads/item_img/img/#{img.item_id}/#{img[:img]}", alt: '商品写真', class: 'photo'
            - else
              .subphot-box
                = image_tag "/uploads/item_img/img/#{img.item_id}/#{img[:img]}", alt: '商品写真', class: 'subphoto'
          - if @item.trade_step == "交渉中"
            .stop
            %span.stop_text 交渉中
          - if @item.trade_step == "出品停止"
            .stop
            %span.stop_text 公開停止中
          - if @item.trade_step == "売却済"
            .stop.sold
            %span.stop_text.sold_text SOLD
        %table.item-table
          %tbody
            %tr
              %th 出品者
              %td
                = link_to(@user.nickname, {})
                .ratings
                  .rating.rating-follow
                    %i.icon-good.fas.fa-laugh
                      %span 数
                  .rating.rating-follow
                    %i.icon-normal.fas.fa-meh
                      %span 数
                  .rating.rating-follow
                    %i.icon-bad.fas.fa-frown
                      %span 数
            %tr
              %th カテゴリー
              %td
                = link_to(@category.name, category_path(@category))
                = link_to category_path(@subcategory) do
                  .sub-category
                    %i.fas.fa-chevron-right
                    = @subcategory.name
                - if @subsubcategory
                  = link_to category_path(@subsubcategory) do
                    .sub-sub-category
                      %i.fas.fa-chevron-right
                      = @subsubcategory.name
            %tr
              %th ブランド
              %td
                - if @item.brand_id != nil
                  = link_to(@brand.name, {})
            - unless @item.size === "サイズなし"
              %tr
                %th サイズ
                %td
                  = @item.size
            %tr
              %th 商品の状態
              %td
                = @item.status
            %tr
              %th 配送料の負担
              %td
                = @item.charge
            %tr
              %th 配送の方法
              %td
                = @item.delivery
            %tr
              %th 配送元地域
              %td= link_to(@item.prefecture, {})
                
            %tr
              %th 発送日の目安
              %td 
                = @item.term
      .item-price-box
        %span.item-price.bold
          ¥
          = @item.price.to_s(:delimited, delimiter: ',')
        %span.item-tax
          (税込)
        %span.item-shipping-fee
          = @item.charge
      - if @item.trade_step == "売却済"
        .item-buy-btn.sold 売り切れました
      - if @item.trade_step == "交渉中"
        .item-buy-btn.sold 交渉中です
      - if @item.seller_id != current_user.id && @item.trade_step == "出品中" 
        = link_to('購入画面に進む', purchase_path(@item.id), class:"item-buy-btn")
        .item-description
          %p.item-description-inner
            = @item.item_text
        .item-button-container
          .item-button-left
            %button.item-button.item-button-like
              %i.far.fa-heart
              %span いいね!
              %span 0
            = link_to( {}, class:"item-button item-button-report") do
              %i.far.fa-flag
              %span 不適切な商品の報告
          .item-button-right
            = link_to( {}, class:"item-button item-button-report", target:"_blank") do
              %i.fas.fa-lock
              %span あんしん・あんぜんへの取り組み
    - if @item.seller_id == current_user.id && @item.trade_step != "売却済"
      .item-box.seller
        = link_to('商品の編集', edit_item_path(@item), class:"item-buy-btn")
        %span or
        - if @item.trade_step == "出品中"
          = link_to('出品を停止する', stop_path(@item), method:'POST', class:"item-buy-btn")
        - if @item.trade_step == "出品停止"
          = link_to('出品を再開する', start_path(@item), method:'POST', class:"item-buy-btn")
        = link_to('この商品を削除する', item_path, method:'DELETE', data:{confirm: "削除すると二度と復活できません。削除する代わりに停止することもできます。本当に削除しますか？"}, class:"item-buy-btn delete")
= render "layouts/footer"