<!DOCTYPE html>
<html>
  <head>
    <title>FreemarketSample66b</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if Rails.env.development? %>
      <%= link_to('新規会員登録', signup_registration_path, class:'lists') %>
      <%= link_to('ログイン', "/login", class:'lists') %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
